@import url(https://weloveiconfonts.com/api/?family=entypo);

/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}
.flex-spacer{
    flex: 1 1 auto;
}

.bgimage{
  background-image: url(../../assets/stock.jpg);
  background-repeat: repeat-y;
}

.profile {
  font-weight: bolder;
}