<mat-toolbar color = "primary">
    <span style="padding-left: 4%;"></span>
    Smart Order Routing
    <span class="flex-spacer"></span>
    <button mat-raised-button color = "accent" (click) = "createOrder()">Create Order</button>
    <span style="padding-right:1%;"></span>

    <button mat-button [matMenuTriggerFor]="menu">Shiva Kumar</button>
    <mat-menu #menu="matMenu">
    <button mat-menu-item><span class="entypo-user"></span>Profile</button>
    <button mat-menu-item><span class="entypo-right"></span>Logout</button>
    </mat-menu>
    <span style="padding-left: 4%;"></span>
</mat-toolbar>
<app-trader></app-trader>