<mat-toolbar color = "primary">
    <span style="padding-left: 4%;"></span>
    Welcome to Smart Order Routing
</mat-toolbar>
<div class = "outerdiv">
    <div class="topheader">
        <div class = "stylehead">
            <h2 style="padding-top: 4%;margin-bottom: 1%;color: #3f51b5;">Login to Trade !!!</h2>
            <div style="border-bottom: 4px solid #3f51b5;width: 15%;margin-left: auto;margin-right: auto;"></div>
        </div>
        <div class="formdiv">
            <form (ngSubmit) = "submit()">
                <div style="margin-bottom: 4%;">
                    <mat-form-field class="indesign">
                        <mat-label>UserName</mat-label>
                        <input matInput type="text" id = "username" [(ngModel)]="username" [ngModelOptions]="{standalone: true}" required>
                    </mat-form-field>
                </div>

                <div style="margin-bottom: 4%;">
                    <mat-form-field class="indesign">
                        <mat-label>Password</mat-label>
                        <input matInput type="password" id = "password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" required>
                    </mat-form-field>
                </div>

                <div style="margin-bottom: 4%;">
                    <mat-form-field class="indesign">
                        <mat-label>Select Type of User</mat-label>
                        <mat-select [(ngModel)]="selectedUser" [ngModelOptions]="{standalone: true}">
                        <mat-option *ngFor="let user of users" [value]="user">
                            {{user}}
                        </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
        
                <div style="margin-top: 7%;"></div>
                <div style="width: 20%;margin-left: auto;margin-right: auto;padding-bottom: 10%;">
                    <span><button mat-raised-button color="primary">Login</button></span>
                </div>
            </form>

            <div style="width: 24%;margin-left: auto;margin-right: auto;padding-bottom: 10%;">
                <button mat-raised-button color="primary" (click) = "register()">Register</button>
            </div>
        </div>
    </div>
</div>
